<?php
/**
 * Copyright © Redbox Digital, Inc. All rights reserved.
 */

/** @var \Beside\Login\Block\Form\Login $block */
?>
<?php if (!$block->customerIsAlreadyLoggedIn()): ?>
    <div id="customer-popup-login" class="customer-popup-login">
        <div class="block-customer-login">
            <div class="block-content" aria-labelledby="block-customer-popup-login-heading">
                <form class="form form-login"
                      action="<?= $block->escapeUrl($block->getPostActionUrl()) ?>"
                      method="post"
                      id="customer-popup-login-form"
                      data-mage-init='{"validation":{}}'>
                    <?= $block->getBlockHtml('formkey') ?>
                    <input type="hidden" name="redirect_url" value="<?php echo $this->getUrl('*/*/*', ['_current' => true, '_use_rewrite' => true]); ?>" />
                    <fieldset class="fieldset login" data-hasrequired="<?= $block->escapeHtml(__('* Required Fields')) ?>">
                        <div class="messages"></div>
                        <div class="field email required">
                            <div class="control">
                                <input name="username" placeholder="<?= $block->escapeHtml(__('E-mail*')) ?>" value="<?= $block->escapeHtmlAttr($block->getUsername()) ?>" <?php if ($block->isAutocompleteDisabled()) : ?> autocomplete="off"<?php endif; ?> id="email" type="email" class="input-text" title="<?= $block->escapeHtmlAttr(__('Email')) ?>" data-mage-init='{"mage/trim-input":{}}' data-validate="{required:true, 'validate-email':true}">
                            </div>
                        </div>
                        <div class="field password required">
                            <div class="control">
                                <input name="password" placeholder="<?= $block->escapeHtml(__('Password*')) ?>" type="password" <?php if ($block->isAutocompleteDisabled()) : ?> autocomplete="off"<?php endif; ?> class="input-text" id="pass" title="<?= $block->escapeHtmlAttr(__('Password')) ?>" data-validate="{required:true}">
                            </div>
                        </div>
                        <?= $block->getChildHtml('form_additional_info') ?>
                        <?= $block->getChildHtml('form_popup_additional_info') ?>
                        <div class="actions-toolbar">
                            <div class="primary"><button type="submit" class="action login primary" name="send" id="send2-login"><span><?= $block->escapeHtml(__('Login')) ?></span></button></div>
                            <div class="secondary"><a class="action remind" href="<?= $block->escapeUrl($block->getForgotPasswordUrl()) ?>"><span><?= $block->escapeHtml(__('Forgot your password?')) ?></span></a></div>
                        </div>
                        <?php if ($block->getRegistration()->isAllowed()): ?>
                            <div class="action-create-account">
                                <h2 class="modal-title" data-role="title"><?= $block->escapeHtml(__('New User')) ?></h2>
                                <a class="action create primary" href="<?= $block->escapeUrl($block->getCustomerRegistrationUrl()) ?>">
                                    <span><?= $block->escapeHtml(__('Create Account')) ?></span>
                                </a>
                            </div>
                        <?php endif; ?>
                    </fieldset>
                </form>
            </div>
        </div>
        <script type="text/x-magento-init">
            {
                "#customer-popup-login": {
                    "Beside_SocialLogin/js/action/customer-authentication-popup": {
                        "popupTitle": "<?php /* @escapeNotVerified */ echo __('Registered User') ?>",
                        "innerWidth": "400"
                    }
                }
            }
        </script>
    </div>
    <style>
        .customer-popup-login {
            display: none;
        }
        .or-another-selection {
            display: inline-block;
            padding-right: 5px;
        }
        @media(max-width: 767px) {
            .or-another-selection {
                display: block;
                text-align: center;
                margin-bottom: 5px;
            }
        }
    </style>
<?php endif; ?>
