/**
 * Copyright © 2020 Redbox Digital Limited. All rights reserved.
 */

//
//  Common
//  _____________________________________________
& when (@media-common = true) {

    .custom-authentication-popup {

        .modal-inner-wrap {
            box-shadow: none;
        }
        .modal-header {
            padding: 45px 28px 0 28px;
        }
        .action-close:before {
            color: #000;
            font-size: 40px;
            line-height: 30px;
        }
        .modal-title {
            .lib-font-size(24);
            .lib-line-height(34);
            text-transform: uppercase;
            letter-spacing: 0.8px;
            font-weight: 700;
            padding: 0;
            border: 0;
            margin-bottom: 20px;
        }
        .modal-content {
            padding: 0 28px 50px 28px;
            .input-text {
                background-color: #f6f6f6;
                border: 0;
            }
            .fieldset {
                margin: 0;
                margin-top: 1px;
                > .field {
                    margin-bottom: 20px;
                    &:not(.choice) > .control {
                        width: 100%;
                    }
                }
            }
            #remember-me-box {
                .tooltip.wrapper {
                    display: none;
                }
                &:before {
                    display: none;
                }
            }
            .actions-toolbar {
                margin-bottom: 34px;
                .primary,
                .secondary {
                    float: none;
                    width: 100%;
                    text-align: left;
                }
                .primary {
                    margin-bottom: 15px;
                    .action.login {
                        text-transform: uppercase;
                        letter-spacing: 1px;
                        font-weight: @font-weight__regular;
                        max-width: 260px;
                        width: 100%;
                        margin: 0;
                        line-height: 44px;
                        padding: 0;
                        border: 0;
                        text-align: center;
                    }
                }
                .secondary {
                    .action.remind {
                        margin: 0;
                        letter-spacing: 0.5px;
                        text-decoration: underline;
                    }
                }
            }
            .action-create-account {
                background-color: #f6f6f6;
                margin-left: -28px;
                margin-right: -28px;
                margin-bottom: -50px;
                padding: 26px 28px 50px 28px;
                .modal-title {
                    margin-top: 0;
                }
                .action.create {
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    font-weight: @font-weight__regular;
                    max-width: 260px;
                    width: 100%;
                    margin: 0;
                    line-height: 44px;
                    padding: 0;
                    border: 0;
                    text-align: center;
                }
            }
        }

    }

}


//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {

    .custom-authentication-popup {
        .modal-title {
            .lib-font-size(16);
            .lib-line-height(26);
            letter-spacing: 0.5px;
            margin-bottom: 17px;
        }
        .modal-header {
            padding: 44px 16px 0 16px;
        }
        .modal-content {
            padding: 0 16px 28px 16px;
            .fieldset > .field {
                margin-bottom: 15px;
            }
            .actions-toolbar {
                margin-bottom: 18px;
                .primary .action.login {
                    .lib-line-height(35);
                    .lib-font-size(12);
                    max-width: 100%;
                }
                .secondary .action.remind {
                    .lib-font-size(10);
                    .lib-line-height(20);
                    letter-spacing: 0.4px;
                }
            }
            .action-create-account {
                background-color: #f6f6f6;
                margin-left: -16px;
                margin-right: -16px;
                margin-bottom: -28px;
                padding: 32px 16px 28px 16px;
                .action.create {
                    .lib-font-size(12);
                    .lib-line-height(35);
                    max-width: 100%;
                }
            }
        }
    }

    .custom-authentication-popup.modal-popup {
        .modal-inner-wrap {
            margin: 13px 16px;
            width: auto;
        }
    }

}
